{% extends '_layouts/global.twig' %}

{% block content %}
	{% autoescape false %}
		{{ Former.open().action('#') }}
		<fieldset>
			<legend>Login</legend>
			{% if Session.has('error') %}
				<p class="alert alert-danger">Username or password is incorrect</p>
			{% endif %}

			{{ Former.text('name') }}
			{{ Former.password('password') }}
			{{ Former.actions().large_primary_block_submit('Login') }}
		</fieldset>
		{{ Former.close() }}
	{% endautoescape %}
{% endblock %}
