{% macro progress(progress, max = 3) %}
	{% set value = ((progress / max) * 100)|round %}
	{% if value <= 25 %}
		{% set style = 'danger' %}
	{% elseif value > 25 and value <= 50 %}
		{% set style = 'warning' %}
	{% elseif value > 50 and value <= 75 %}
		{% set style = 'info' %}
	{% else %}
		{% set style = 'success' %}
	{% endif %}

	<div class="progress">
		<div class="progress-bar {% if style %}progress-bar-{{ style }}{% endif %}" role="progressbar" aria-valuenow="{{ value }}" aria-valuemin="0" aria-valuemax="100" style="width: {{ value }}%;">
			{{ progress }}/{{ max }}
		</div>
	</div>
{% endmacro %}

{% macro boolean(boolean) %}
	{{ boolean ? '<i class="glyphicon glyphicon-ok"></i>' : '<i class="glyphicon glyphicon-remove"></i>' }}
{% endmacro %}

{% macro favorite(user, favoritable) %}
	<a ng-click="favorite($event)" href="{{ URL.route('api.favorites.store', [favoritable.getClassBasename(), favoritable.id]) }}">
		<i class="glyphicon glyphicon-heart{% if not user.hasFavorited(favoritable) %}-empty{% endif %}"></i>
	</a>
{% endmacro %}
