<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>{{ title ? "#{title} - Furnace" : 'Furnace' }}</title>
	<link rel="stylesheet" href="{{ URL.asset('builds/css/styles.css') }}" />
	<link rel="shortcut icon" type="image/x-icon" href="{{ URL.asset('builds/img/logo.png') }}" />
</head>
<body ng-app="furnace" ng-controller="AppController">
	{% include '_partials/navigation' %}

	<main class="container {{ body_classes }}">
		<header class="page-header">
			<h1>{{ title|raw }}</h1>
		</header>

		{% block content %}{% endblock %}
	</main>

	{% include '_layouts/_partials/footer.twig' %}

	<script src="{{ URL.asset('builds/js/scripts.js') }}"></script>
	{% include '_layouts/_partials/analytics.twig' %}
</body>
</html>
