<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>{{ title ? "#{title} - Furnace" : 'Furnace' }}</title>
	<link rel="stylesheet" href="{{ URL.asset('builds/css/styles.css') }}" />
</head>
<body ng-app="furnace" ng-controller="AppController">
	{% include '_partials/navigation' %}

	<main class="container {{ body_classes }}">
		<header class="page-header">
			<h1>{{ title|raw }}</h1>
		</header>

		{% block content %}{% endblock %}
	</main>

	<footer class="layout-footer">
		&copy;{{ "now"|date('Y') }} - Maxime Fabre - <a href="https://github.com/Anahkiasen/furnace">View sources</a>
	</footer>

	<script src="{{ URL.asset('builds/js/scripts.js') }}"></script>
</body>
</html>
