{% extends '_layouts/global.twig' %}
{% set ratings = {0: 'Bad', 1: 'Average', 2: 'Good', 3: 'Official DLC quality'} %}
{% set title = rating.id ? 'Edit rating' : 'Rate track' %}
{% set endpoint = rating.id ? 'ratings.update' : 'ratings.store' %}

{% block content %}
	{% autoescape false %}
		{{ Former.open().route(endpoint, rating.id).populate(rating) }}
		{% if not rating %}
			<fieldset>
				<legend>CDLC</legend>
				{{ Former.select('ignition_id', 'CDLC').selectize().help('Search for a CDLC here and pick the one in the results') }}
			</fieldset>
		{% else %}
			{{ Former.hidden('ignition_id', rating.track.ignition_id) }}
		{% endif %}

		<fieldset>
			<legend>Experience</legend>
			{{ Former.boolean('presilence', 'Pre-silence').help('Was the silence at the start of the track long enough?') }}
			{{ Former.boolean('normalized_volume', 'Tones/track volume').help('Was the volume of the tones correct compared to the track\'s?') }}
			{{ Former.boolean('playable', 'Playable').help('Do you consider the track playable?') }}
		</fieldset>

		<fieldset>
			<legend>Audio</legend>
			{{ Former.select('tone', 'Tones quality').options(ratings).help('The quality of the custom tones used in the track') }}
			{{ Former.select('audio', 'Audio quality').options(ratings).help('The audio quality of the track itself') }}
		</fieldset>

		<fieldset>
			<legend>Gameplay</legend>
			{{ Former.boolean('sync', 'Track/tab sync').help('Is the tablature properly in sync with the track and the beat map?') }}
			{{ Former.boolean('techniques', 'Techniques').help('Are the proper techniques used in the tablature?') }}
			{{ Former.select('tab', 'Tablature quality').options(ratings).help('The quality of the tablature itself (correctness, etc)') }}
		</fieldset>

		<fieldset>
			<legend>Notes</legend>
			<p class="alert alert-warning">Do not rate the music itself, the point is to rate the CDLC, your musical tastes should not be taken into account.</p>
			{{ Former.select('plateform').options(plateforms) }}
			{{ Former.textarea('comments', 'Additional comments').rows(15).placeholder('Leaving feedback and explaining you ratings is important. The track will not get better if you never tell what is wrong.') }}
		</fieldset>

		{{ Former.actions().large_primary_block_submit(rating ? 'Update rating' : 'Rate') }}
		{{ Former.close() }}
	{% endautoescape %}
{% endblock %}
