{% extends '_layouts/table.twig' %}
{% from '_macros/table.twig' import progress, boolean, favorite %}
{% set title = 'My ratings' %}

{% block before %}
	<div class="btn-group btn-group-justified">
		<a href="{{ URL.route('ratings.export') }}" class="btn btn-default">
			Export
			<i class="glyphicon glyphicon-log-out"></i>
		</a>
		<a ng-init="showImport = {{ errors.any() ? 'true' : 'false' }}" ng-click="showImport = !showImport" class="btn btn-default">
			Import
			<i class="glyphicon glyphicon-log-in"></i>
		</a>
	</div>

	{% autoescape false %}
		{{ Former.open().route('ratings.import').ngShow('showImport') }}
		<fieldset>
			<legend>Import ratings</legend>
			{{ Former.file('ratings') }}
			{{ Former.actions().large_primary_submit('Import') }}
		</fieldset>
		{{ Former.close() }}
	{% endautoescape %}
{% endblock %}

{% block headers %}
	<th>Artist</th>
	<th>Title</th>
	<th>Tracker</th>
	<th>Volume</th>
	<th>Silence</th>
	<th>Playable</th>
	<th>Tone</th>
	<th>Track</th>
	<th>Tab</th>
	<th>Rating</th>
	<th>Edit</th>
	<th>Favorite</th>
	<th>Remove</th>
{% endblock %}

{% block rows %}
	{% for rating in ratings %}
		<tr>
			<td>{{ rating.track.artist.name|raw }}</td>
			<td>{{ rating.track.name|raw }}</td>
			<td>{{ rating.track.tracker.name|raw }}</td>
			<td>{{ boolean(rating.normalized_volume) }}</td>
			<td>{{ boolean(rating.presilence) }}</td>
			<td>{{ boolean(rating.playable) }}</td>
			<td>{{ progress(rating.tone, integer_scale) }}</td>
			<td>{{ progress(rating.audio, integer_scale) }}</td>
			<td>{{ progress(rating.tab, integer_scale) }}</td>
			<td>{{ progress(rating.total, rating_scale, true) }}</td>
			<td class="text-center">
				<a href="{{ URL.route('ratings.edit', rating.id) }}">
					<i class="glyphicon glyphicon-edit"></i>
				</a>
			</td>
			<td class="text-center">{{ favorite(current_user, rating.track) }}</td>
			<td class="text-center">
				<a ng-click="remove($event)" href="{{ URL.route('ratings.destroy', rating.id) }}">
					<i class="glyphicon glyphicon-remove"></i>
				</a>
			</td>
		</tr>
	{% endfor %}
{% endblock %}
