{% extends '_layouts/table.twig' %}
{% from '_macros/table.twig' import progress %}
{% set title = 'Blacksmiths' %}

{% block headers %}
	<th>Tracker</th>
	<th>Artists</th>
	<th>Rating</th>
	<th>Tracks</th>
{% endblock %}

{% block rows %}
	{% for tracker in trackers %}
		<tr>
			<td>
				<a target="_blank" href='http://ignition.customsforge.com/search/browse?filters={"member":"{{ tracker.name }}"}&group=artist'>{{ tracker.name }}</a>
			</td>
			<td>{{ tracker.artists|join(', ')|raw }}</td>
			<td>{{ progress(tracker.rating, trackers.max('rating')) }}</td>
			<td>{{ tracker.tracks.count() }}</td>
		</tr>
	{% endfor %}
{% endblock %}
