{% extends '_layouts/global.twig' %}
{% from '_macros/table.twig' import progress %}
{% set title = 'Blacksmiths' %}
{% set body_classes = 'container--wide' %}

{% block content %}
	<table class="table table-striped table-hover" tablesorter>
		<thead>
		<tr>
			<th>Tracker</th>
			<th>Artists</th>
			<th>Tone</th>
			<th>Audio</th>
			<th>Tab</th>
			<th>Rating</th>
			<th>Tracks</th>
		</tr>
		</thead>
		<tbody>
		{% for tracker in trackers %}
			<tr>
				<td><a target="_blank" href='http://ignition.customsforge.com/search/browse?filters={"member":"{{ tracker.name }}"}&group=artist'>{{ tracker.name }}</a></td>
				<td>{{ tracker.artists|join(', ') }}</td>
				<td>{{ progress(tracker.tracks.average('tone'), 3) }}</td>
				<td>{{ progress(tracker.tracks.average('audio'), 3) }}</td>
				<td>{{ progress(tracker.tracks.average('tab'), 3) }}</td>
				<td>{{ progress(tracker.rating, trackers.max('rating')) }}</td>
				<td>{{ tracker.tracks.count() }}</td>
			</tr>
		{% endfor %}
		</tbody>
	</table>
{% endblock %}
