{% extends '_layouts/table.twig' %}
{% from '_macros/table.twig' import progress, favorite %}
{% set title = 'Blacksmiths' %}

{% block headers %}
	<th>Tracker</th>
	<th>Artists</th>
	<th>Rating</th>
	<th>Tracks</th>
	{% if current_user %}
		<th>Favorite</th>
	{% endif %}
{% endblock %}

{% block rows %}
	{% for tracker in trackers %}
		<tr>
			<td>
				<a target="_blank" href='http://ignition.customsforge.com/search/browse?filters={"member":"{{ tracker.name }}"}&group=artist'>{{ tracker.name }}</a>
			</td>
			<td>{{ tracker.artists|join(', ')|raw }}</td>
			<td>{{ progress(tracker.score, trackers.max('score')) }}</td>
			<td class="text-center">{{ tracker.tracks.count() }}</td>
			{% if current_user %}
				<td class="text-center">{{ favorite(current_user, tracker) }}</td>
			{% endif %}
		</tr>
	{% endfor %}
{% endblock %}
