{% extends '_layouts/global.twig' %}
{% from '_macros/table.twig' import progress %}

{% block content %}
	<table class="table">
		<thead>
		<tr>
			<th>Artist</th>
			<th>Title</th>
			<th>Tracker</th>
			<th>Tone</th>
			<th>Track</th>
			<th>Tab</th>
			<th>Rating</th>
		</tr>
		</thead>
		<tbody>
		{% for track in tracks %}
			<tr>
				<td>{{ track.artist }}</td>
				<td>{{ track.name }}</td>
				<td>{{ track.tracker.name }}</td>
				<td>
					{{ progress(track.tone, 3) }}
				</td>
				<td>
					{{ progress(track.track, 3) }}
				</td>
				<td>
					{{ progress(track.tab, 3) }}
				</td>
				<td>
					{{ progress(track.rating, 3, 'success') }}
				</td>
			</tr>
		{% endfor %}
		</tbody>
	</table>
{% endblock %}
