{% extends '_layouts/table.twig' %}
{% from '_macros/table.twig' import progress, boolean, favorite %}
{% set title = 'Tracks' %}

{% block headers %}
	<th>Artist</th>
	<th>Title</th>
	<th>Blacksmith</th>
	<th>Tuning</th>
	<th>Parts</th>
	<th>Platforms</th>
	<th><abbr title="Dynamic Difficuly">DD</abbr></th>
	<th><abbr title="Riff Repeater">RR</abbr></th>
	<th><abbr title="Number of difficulty levels">Levels</abbr></th>
	<th>Volume</th>
	<th>Pre-silence</th>
	<th>Playable</th>
	<th>In sync</th>
	<th>Playable</th>
	<th>Version</th>
	<th>Last update</th>
	<th>Tone</th>
	<th>Track</th>
	<th>Tab</th>
	<th>Rating</th>
	{% if current_user %}
		<th>Favorite</th>
	{% endif %}
	<th>View</th>
{% endblock %}

{% block rows %}
	{% for track in tracks %}
		<tr class="{% if not track.is_playable %}danger{% endif %} {% if track.score >= (rating_scale * 0.9) %}success{% endif %}">
			<td>{{ track.artist|raw }}</td>
			<td>{{ track.name|raw }}</td>
			<td>{{ track.tracker.name|raw }}</td>
			<td>{{ track.tuning }}</td>
			<td>
				<span class="label label-warning" {% if not track.parts.lead %}disabled{% endif %}>L</span>
				<span class="label label-success" {% if not track.parts.rhythm %}disabled{% endif %}>R</span>
				<span class="label label-info" {% if not track.parts.bass %}disabled{% endif %}>B</span>
				<span class="label label-danger" {% if not track.parts.vocals %}disabled{% endif %}>V</span>
			</td>
			<td>
				<span class="label label-default" {% if not track.platforms.pc %}disabled{% endif %}>PC</span>
				<span class="label label-info" {% if not track.platforms.ps3 %}disabled{% endif %}>PS</span>
				<span class="label label-success" {% if not track.platforms.xbox360 %}disabled{% endif %}>X</span>
				<span class="label label-default" {% if not track.platforms.mac %}disabled{% endif %}>M</span>
			</td>
			<td>{{ boolean(track.dd) }}</td>
			<td>{{ boolean(track.riff_repeater) }}</td>
			<td>{{ track.difficulty_levels }}</td>
			<td class="text-center">{{ boolean(track.ratings.average('normalized_volume')) }}</td>
			<td class="text-center">{{ boolean(track.ratings.average('presilence')) }}</td>
			<td class="text-center">{{ boolean(track.ratings.average('playable')) }}</td>
			<td class="text-center">{{ boolean(track.ratings.average('sync')) }}</td>
			<td class="text-center">{{ boolean(track.ratings.average('techniques')) }}</td>
			<td>{{ track.version }}</td>
			<td>{{ track.updated_at.toDateString() }}</td>
			<td>
				{{ progress(track.ratings.average('tone'), 3) }}
			</td>
			<td>
				{{ progress(track.ratings.average('audio'), 3) }}
			</td>
			<td>
				{{ progress(track.ratings.average('tab'), 3) }}
			</td>
			<td>
				{{ progress(track.score, rating_scale) }}
			</td>
			{% if current_user %}
				<td class="text-center">{{ favorite(current_user, track) }}</td>
			{% endif %}
			<td class="text-center">
				<a href="{{ URL.route('tracks.show', track.id) }}"><i class="glyphicon glyphicon-eye-open"></i></a>
			</td>
		</tr>
	{% endfor %}
{% endblock %}
