<nav class="navbar navbar-default">
	<div class="container-fluid">
		<div class="navbar-header">
			<a class="navbar-brand" href="{{ URL.route('home') }}">
				<img src="{{ URL.asset('builds/img/logo.svg') }}" class="logo" />
				Furnace <em>&alpha;lpha</em>
			</a>
		</div>

		<div class="collapse navbar-collapse">
			<ul class="nav navbar-nav">
				{% for route, label in menu %}
					<li {% if Route.currentRouteNamed(route) %}class="active"{% endif %}>
						<a href="{{ URL.route(route) }}" {% if route == 'ratings.create' %}class="cta"{% endif %}>{{ label }}</a>
					</li>
				{% endfor %}
			</ul>

			<ul class="nav navbar-nav navbar-right">
				{% if Auth.check() %}
					<li class="dropdown">
						<img class="img-circle" src="{{ current_user.avatar() }}" alt="{{ current_user.name }}" />
						<a href="#" class="dropdown-toggle" data-toggle="dropdown">
							{{ current_user.name }}
							<span class="caret"></span>
						</a>
						<ul class="dropdown-menu" role="menu">
							<li><a href="{{ URL.route('ratings.index') }}">My ratings</a></li>
							<li><a href="{{ URL.route('favorites.index') }}">My favorites</a></li>
							<li><a href="{{ URL.route('auth.logout') }}">Logout</a></li>
						</ul>
					</li>
				{% else %}
					<li><a href="{{ URL.route('users.create') }}">Login / Signup</a></li>
				{% endif %}
			</ul>
		</div>
	</div>
</nav>
